name: Build and Publish image to Docker Hub
on:
  push:
    branches:
    - main
    # This runs the workflow on all push to the main branch

jobs:
  Build_and_publish_images:
    runs-on: ubuntu-22.04
    # The runner is to be ubuntu-22.04

    steps:
    - name: Step 1 - cloning the repository onto the runner
      uses: actions/checkout@v4
      # This clone the repo contents onto the runner

    - name: Step 2 - saving the first 7 characters of the commit sha into a file
      run: |
        echo "${{ github.sha }}" | cut -c 1-7 >> sha.txt
        cat sha.txt
      # This saves the first 7 characters of the commit sha into a file (sha.txt)

    - name: Step 3 - building the image
      run: docker build -t obinnanwaneri/docker-frontend:$(cat sha.txt) ./
      # This builds the docker image and tags it with the commit sha saved in sha.txt

    - name: Step 4 - logging into docker hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN}}
        # This logs into docker hub using a dockerhub username and password stored as a secret in the repo settings

    - name: Step 5 - pushing the image to docker hub
      run: |
        docker push obinnanwaneri/docker-frontend:$(cat sha.txt)
      # This pushes the docker image to docker hub using the tag saved in sha.txt
