name: Build and Publish image to Docker Hub
on:
  push:
    branches:
    - main

jobs:
  Build_and_publish_images:
    runs-on: ubuntu-22.04
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: build image
      run: docker build -t obinnanwaneri/docker-frontend:${{github.sha}} ./

    - name: login to docker hub
      uses: docker/login-action@v3

      with:
        username: obinnanwaneri
        password: ${{ secrets.obinnanwaneri }}

    - name: push images to docker hub
      run: |
        docker push obinnanwaneri/docker-frontend:${{github.sha}}
